<!-- Copyright 2021 Oliver Smith
     Copyright 2021 Dreemurrs Embedded Labs / DanctNIX Community
     SPDX-License-Identifier: GPL-3.0-or-later -->

<p class="distro-links">
	<a href="https://github.com/dreemurrs-embedded/Pine64-Arch">github</a> -
	<a href="https://wiki.archlinux.org">archwiki</a> -
	<a href="https://linuxphoneapps.org/">LinuxPhoneApps.org</a>
</p>
